.container {
  position: relative;
  max-width: 320px;
  height: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("../img/bg-hdr.svg");
  background-repeat: no-repeat;
}

.navigation-list {
  display: none;
}

.navigation-img {
  width: 150px;
  height: 110px;
  background-image: url("../img/bg-nav.svg");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.btn-menu {
  width: 36px;
  height: 36px;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 40px;
}

.hero {
  position: relative;
  top: 260px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #fff;
  margin-bottom: 100px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 30px;
}

.hero-link {
  display: inline-flex;
  margin-bottom: 23px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: baseline;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.github {
  background-image: url("../img/github.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.linkedin {
  background-image: url("../img/linkedin.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.telegram {
  background-image: url("../img/telegram.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gmail {
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.scrll-btn {
  width: 36px;
  height: 36px;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  color: #fff;
  background-image: url("../img/scrll.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 80px;
  left: 40px;
  // transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

// .hero-btn:hover {
//   transition: 0.2s linear;
//   transform: scale(1.1);
// }

@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px 40px 0px 40px;
  }

  .navigation {
    display: block;
    width: 680px;
    position: absolute;
    z-index: 1;
  }

  .navigation-list {
    padding-top: 40px;
    padding-left: 12px;
    display: flex;
    justify-content: space-around;
    color: #fff;
  }

  .navigation-img {
    left: 16px;
    z-index: -1;
  }

  .navigation-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }

  .span {
    color: #fff;
  }

  .btn-menu {
    display: none;
  }

  .hero {
    top: 300px;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 60px;
  }

  .hero-list {
    display: flex;
    margin-right: 40px;
  }

  .hero-link {
    width: 36px;
    height: 36px;
  }

  .scrll-btn {
    left: 70px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    height: 826px;
  }

  .navigation-link:hover {
    color: #f44336;
    transition: color 0.2s linear;
  }

  .span:hover {
    color: #000c24;
    transition: color 0.2s linear;
  }
}

// ===================================================
// @media (max-width: 768px) {

// }

// @media (max-width: 768px) {

// }

// .container {
//   max-width: 1280px;
//   height: 826px;
//   margin: 0 auto;
//   background-image: url("../img/bg-hdr.svg");
//   padding: 40px;
//   background-repeat: no-repeat;
//   //   background-color: burlywood;
// }

// .navigation {
//   width: 598px;
//   height: 112px;
//   //   background-color: cadetblue;
//   position: absolute;
//   z-index: 1;
// }

// .navigation-img {
//   width: 150px;
//   height: 110px;
//   background-image: url("../img/bg-nav.svg");
//   background-repeat: no-repeat;
//   position: absolute;
//   z-index: -1;
// }

// .navigation-list {
//   padding-top: 40px;
//   padding-left: 12px;
//   display: flex;
//   justify-content: space-around;
//   color: #fff;
//   //   background-color: hotpink;
// }

// .navigation-link {
//   display: block;
//   text-decoration: none;
//   cursor: pointer;
//   outline: none;
//   color: #fff;
//   font-weight: 600;
// }

// .navigation-link:hover {
//   color: #f44336;
//   transition: color 0.2s linear;
// }

// .span {
//   color: #fff;
// }

// .span:hover {
//   color: #000c24;
//   transition: color 0.2s linear;
// }

// .hero {
//   position: absolute;
//   top: 336px;
// }

// h1 {
//   font-size: 54px;
//   font-weight: 800;
//   letter-spacing: 0.08em;
//   text-transform: uppercase;
//   color: #fff;
//   margin-bottom: 24px;
// }

// h2 {
//   font-size: 36px;
//   font-weight: 600;
//   letter-spacing: 0.08em;
//   color: #fff;
//   margin-bottom: 30px;
// }

// .hero {
//   height: 400px;
// }

// .hero-list {
//   display: flex;
//   width: 200px;
//   height: 36px;
// }

// .hero-link {
//   display: inline-flex;
//   margin-right: 10px;
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;
//   justify-content: baseline;
//   transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
// }

// .hero-link:hover {
//   transform: scale(1.1);
// }

// .github {
//   background-image: url("../img/github.svg");
// }

// .linkedin {
//   background-image: url("../img/linkedin.svg");
// }

// .telegram {
//   background-image: url("../img/telegram.svg");
//   background-repeat: no-repeat;
// }

// .gmail {
//   background-image: url("../img/email.svg");
//   background-repeat: no-repeat;
// }

// .hero-btn {
//   position: absolute;
//   bottom: 0;
//   width: 24px;
//   height: 24px;
//   display: flex;
//   text-decoration: none;
//   cursor: pointer;
//   outline: none;
//   background-color: transparent;
//   border: none;
//   color: #fff;
//   align-items: center;
//   background-image: url("../img/scrll.svg");
//   background-repeat: no-repeat;
//   transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
// }

// .hero-btn:hover {
//   transition: 0.2s linear;
//   transform: scale(1.1);
// }
