@import "fonts";
@import "header";

h2 {
  font-size: 36px;
  font-family: sparta, sans-serif;
  font-style: normal;
  font-weight: 800;

  // background-image: url("@img/nigth.png");
}

// @media (max-width: 768px) {
//   span{
//     font-size: 20px;
//   }
// }

// @media (max-width: 768px) {
//   body{
//     background-color: #444
//   }
// }
